{% extends "layout.html" %}
{% load bootstrap3 blog_tags %}

{% block extra_script %}
<style>
    .post_attached_image {
        text-align: center;
    }
    .post_attached_image img {
        max-width: 100%;
    }
    .post_thumbnail_map {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>
<script>
    $(function() {
        var datetime_format = django.get_format('DATETIME_FORMAT');

        $("#comment_form").ajaxForm(function(comment) {
            var updated_at = new Date(comment.updated_at).format(datetime_format);
            $("#comment_form")[0].reset();
            $("#comment_list tbody").prepend($('<tr><td><pre>' + comment.message + '</pre><span>' + updated_at + '</span></td></tr>'));
            $.toaster({
                priority: 'info',
                message: 'Added a new comment.'
            });
        })
        $(".comment-delete-confirm").click(function() {
            var url = $(this).attr("href");
            var target = $(this).parent().parent();

            if ( confirm("Are you sure to delete the comment?") ) {
                $.ajax({
                    url: url,
                    method: "POST",
                }).done(function() {
                    target.remove();
                    $.toaster({
                        priority: 'danger',
                        message: 'Deleted a comment.'
                    });
                }).fail(function() {
                    $.toaster({
                        priority: 'danger',
                        message: 'Failed'
                    });
                });
            }
            return false;
        });
    });
</script>
{% endblock %}

{% block navbar_brand %}
    <a class="navbar-brand" href="{% url "blog:author_home" author.username %}">{{ author }}'s blog</a>
{% endblock %}

{% block content %}
    <p class="text-right">
        <a href="{% url "blog:post_edit" post.id %}" class="btn btn-info">Edit</a>
        <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url "blog:author_home" post.author %}" class="btn btn-default">List</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.title }}
        </div>
        <div class="panel-body">
            <p class="post_attached_image">
                {% if post.attached_image %}
                    <img src="{{ post.attached_image.url }}" />
                {% endif %}
            </p>
            {% if post.lnglat %}
                <img class="post_thumbnail_map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ post.lat }},{{ post.lng }}&zoom=11&size=150x150&markers=color:red%7Clabel:A%7C{{ post.lat }},{{ post.lng }}" />
            {% endif %}
            {{ post.content|linebreaks }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <span>{{ post.liked_users.all.count }} people liked.</span>
                    {% if user.is_authenticated %}
                        {% if post|is_liked_post:user %}
                            <a href="{% url "blog:post_unlike" post.id %}">Unlike</a>
                        {% else %}
                            <a href="{% url "blog:post_like" post.id %}">Like</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    <span>by {{ post.author }}, Updated at : {{ post.updated_at }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            <form id="comment_form" action="{% url 'blog:comment_new' post.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">Post</button>
                {% endbuttons %}
            </form>
            <table id="comment_list" class="table table-hover">
            <tbody>
            {% for comment in post.comment_set.all %}
            <tr>
                <td>
                    <pre>{{ comment.message }}</pre>
                    <span>{{ comment.updated_at }}</span>
                    <a href="{% url "blog:comment_edit" post.id comment.id %}">Edit</a>
                    <a href="{% url "blog:comment_delete" post.id comment.id %}" class="text-danger comment-delete-confirm">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}