{% extends "layout.html" %}

{% block extra_script %}
<script>
    $(function() {
        $(".comment-delete-confirm").click(function() {
            var url = $(this).attr("href");
            var target = $(this).parent().parent();

            if ( confirm("Are you sure to delete the comment?") ) {
                $.ajax({
                    url: url,
                    method: "POST",
                }).done(function() {
                    target.remove();
                    $.toaster({
                        priority: 'danger',
                        message: 'Deleted a comment.'
                    });

                }).fail(function() {
                    $.toaster({
                        priority: 'danger',
                        message: 'Failed'
                    });
                });
            }
            return false;
        });
    });
</script>
{% endblock %}
{% block content %}
    <p class="text-right">
        <a href="{% url "blog:post_edit" post.id %}" class="btn btn-info">Edit</a>
        <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url "blog:index" %}" class="btn btn-default">List</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.title }}
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">
            Updated at : {{ post.updated_at }}
        </div>
    </div>
    <p>
        <a href="{% url "blog:comment_new" post.id %}" class="btn btn-primary btn-block">New Comment</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            <table class="table table-hover">
            {% for comment in post.comment_set.all %}
            <tr>
                <td>
                    <a href="{% url "blog:comment_edit" post.id comment.id %}">{{ comment.message }}</a>
                    <span>at {{ comment.updated_at }}</span>
                    <a href="{% url "blog:comment_delete" post.id comment.id %}" class="text-danger comment-delete-confirm">Delete</a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}